.header
  display flex
  flex 1
  height 80px
  justify-content space-between
  align-items center
  border-bottom 1px solid #cccccc

  ul
    display flex
    text-decoration none
    list-style none
    margin 0
    padding 0
    flex-direction row
    justify-content space-between

    li:not(:last-child)
      margin-right 25px
