doctype html
html
  head
    title Archeage Family Matter
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
  body
    #application!= app
    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
    script(src='/build/bundle.js')
    
